# 从 PyTorch 官方索引安装 CUDA-12.8 版本的包
--extra-index-url https://download.pytorch.org/whl/cu128

torch==2.7.1+cu128
torchvision==0.22.1+cu128
torchaudio==2.7.1+cu128

absl-py==2.1.0
coloredlogs==15.0.1
colorspacious==1.1.2
colour-science==0.4.6
contourpy==1.3.1
cycler==0.11.0
filelock==3.13.1
flatbuffers==25.2.10
fsspec==2024.6.1
graphviz==0.20.3
imageio==2.37.0
jinja2==3.1.4
kornia==0.8.1
kornia-rs==0.1.9
lazy_loader==0.4
lpips==0.1.4
markdown-it-py==3.0.0
matplotlib==3.10.0
mdurl==0.1.2
mpmath==1.3.0
networkx==3.3
numpy==2.1.2
onnx==1.18.0
onnx-simplifier==0.4.36
onnxruntime==1.22.0
opencv-python==4.10.0
pillow==11.0.0
packaging==24.2
piq==0.8.0
protobuf==5.29.3
pygments==2.19.1
pyqt6==6.7.1
pyqt6-sip==13.9.1
pyyaml==6.0.2
rich==14.0.0
scikit-image==0.25.0
scipy==1.15.2
sympy==1.13.3
tensorboard==2.19.0
tensorboard-data-server==0.7.0
tifffile==2025.2.18
torchinfo==1.8.0
torchviz==0.0.3
tqdm==4.67.1
triton==3.3.1
typing-extensions==4.12.2
werkzeug==3.1.3
